node_modules
.next
.git
.gitignore
generated
*.log
.env
.env.local
.env.*.local
.server.ts.swp
dump_*.sql
motit_site.sql
motit-backend.backup.tar.gz
changes.txt
structure.txt
tsconfig.tsbuildinfo
Dockerfile
docker-compose.yml
