# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=XkjDkI5psNJaVLy/ACSRVQ==,eG4007SKMIzXTekHHIWKEQ==,ECEF+ahnmzNXa4+fkG6MLg==,lB+TEUp+aN8iPTcsru0enw==
API_TOKEN_SALT=Zm9vdd+Kb1sV8qLzqDosEQ==
ADMIN_JWT_SECRET=No0xh2/t7dawo1YYQ49qzg==
JWT_SECRET=omL1YnBshVZUQbHIwbZCPQ==
TRANSFER_TOKEN_SALT=j0FEhmNX9v4S1dqaVUugbA==
ENCRYPTION_KEY=Pm67QiD6kye3/H2RTS7xuw==

CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=9b7b44e3500c2f944365a695e38c93dcc994cba986a5d5d8927f74b31b81c33f73954a8492d67eb19f9651b9e423ebba6b8e796ff7897ca10065217068ee2e4e825c8d48e8b04d372ee157ec1e9813c14c92c891c7ea8be19d7274a3a7bdcc30ede68a8fd07f244ed4372e208ed7a952a21c4b33a462c2604c3688594c449ff0
# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=motit_site
DATABASE_USERNAME=motit_user
DATABASE_PASSWORD=MotitSecure2024!
DATABASE_SSL=false

# JWT
JWT_SECURE=false              # true для HTTPS
JWT_MAX_AGE=604800            # 7 дней в секундах

# SMTP для Strapi (для уведомлений)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=zybko94@gmail.com
SMTP_PASS=vuav ayer exix wggi
SMTP_FROM_NAME="Motit | Официальный сайт"
SMTP_FROM_EMAIL=zybko94@gmail.com
CONTACT_EMAIL=zybko94@gmail.com
SMTP_REJECT_UNAUTHORIZED=false

# Admin user (необязательно)
ADMIN_EMAIL=zybko94@gmail.com
ADMIN_PASSWORD=Serezhka.04
ADMIN_FIRSTNAME=Sergey
ADMIN_LASTNAME=Zybko